<%=  @photo.title %>
<%=  @photo.date %>
<div class="container-xl">
  <%= image_tag @photo.file_location.url, class:"img-thumbnails" %>
</div>
<%= simple_format(@photo.description)%>


<%= link_to 'Back to index',photos_path%>